#logo {
  vertical-align:middle;
}

img {
  max-width: 100;
  max-height: 100;
}

body {
  background-image: url("../image/spacex-tesla-motors-tesla-roadster-rocket-space-illustration.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;  
}

span {
  position: absolute;
  padding-left: 10;

}

.summary {
  background-color: tomato;
  color: black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
} 

.copyright {
    font-size: 9px;
    font-weight: lighter;
    color: rgb(95, 92, 92);
}


  
  /* ----FOOTER END---- */
  