<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tesla Home Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="../static/CSS/styles.css">
    </head>

    <body>
      <div class = "navigation">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="index.html">
                <img src="../static/image/tesla-logo.png" alt ="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Graph
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/sales">Sales</a>
                    <a class="dropdown-item" href="/stock">Stock</a>
                  </div>
                </li>

              </ul>
            </div>
          </nav>
      </div>
     

      <div class = "container">
        <div class = "row">
          <div class = "col-lg-7">
            <div class = "col-md-12">
                <br>
                <div class = "box">
                    <div class ="h`">Tesla</div>
                    <hr>
                    <div class = "about">
                      <p>
                        The purpose of this project is to analyze the performance of the EV car company, Tesla. 
                        By using Machine Learning and historical data, we can see the current performance of Tesla and see how well will they perform in the future.

                        Tesla Inc is an electric vehicle and energy company and it's based in Palo Alto, California.
                        The company was found in 2003 as a tribute to a famous inventor, Nikola Tesla and their current CEO is 
                        Elon Musk, who has served as that positon since 2008. 

                        Their primary product is the electronic vehicles and its current lineup is the following:
                          <li>Model S</li>
                          <li>Model 3</li>
                          <li>Model X</li>
                          <li>Model Y</li>
                          <li>Roadster</li>
                          <li>Tesla Semi</li>
                          <li>Cybertruck</li>
                      </p>
                    </div>
                    
                </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div id="bar"></div>
        <div class = "copyright">
            <p>**FAIR USE**
    
                Copyright Disclaimer under section 107 of the Copyright Act 1976, allowance is made for “fair use” for purposes such as criticism, comment, news reporting, teaching, scholarship, education and research.
            
                Fair use is a use permitted by copyright statute that might otherwise be infringing. 
            
                Non-profit, educational or personal use tips the balance in favor of fair use. 
            
            </p>
        </div>
      </div>

    </body>

    
</html>